 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
header > .container {
    padding: 40px 60px;
    background-color: #f7e296;
}
.header-top {
    position: relative;
}
.header-top__logo {
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
}
.header-top__list {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 15px;
    font-family: opensanslight;   
}
.header-top__list-search {
    opacity: .3;
}
.header-top__list-search:hover {
    opacity: .6;
}
.header-top__list-search:active {
    opacity: 1;
}
.header-top__list-enter {
    opacity: .3;
}
.header-top__list-enter:hover {
    opacity: .6;
}
.header-top__list-enter:active {
    opacity: 1;
}
.header-top__list-item:nth-child(1) {
    flex-grow: 6;
    padding-left: 40px;
}
.header-top__list-item:nth-child(2) {
    flex-grow: 4;
}
.header-top__list-item:nth-child(3),
    .header-top__list-item:nth-child(4) {
    flex-grow: 1;
    text-align: right;
}
.header-top__list-link {
    position: relative;
    color: #000;
}
.header-top__list-search::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: -40px;
    background: url(../img/search.png) center no-repeat;
    background-size: cover;
}
.header-top__list-enter::before {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    background: url(../img/enter.png) center no-repeat;
    background-size: cover;
}
.header-top__list-compare::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: -20px;
    background: url(../img/compare.png) center no-repeat;
    background-size: cover;
}
.header-top__list-basket::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    background: url(../img/basket.png) center no-repeat;
    background-size: cover;
}
.nav {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-family: gilroyextrabold;
    letter-spacing: 4px;
}
.nav a {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
}
.nav__list-item:nth-child(1) {
    flex-grow: 4;
}
.nav__list-item:nth-child(2) {
    flex-grow: 1;
    text-align: left;
}
.nav__list-item:nth-child(3) {
    flex-grow: 1;
}
.nav__list-item:nth-child(4) {
    flex-grow: 1;
    text-align: right;
}
.nav__item-link-catalog {
    position: relative;
}
.nav__item-link-catalog::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    right: -30px;
    background: url(../img/plus.png) center no-repeat;
    background-size: cover;
}
/*------------------------------------------slider----------------------------------------------*/
/*------------------------------------------slider----------------------------------------------*/
.main__products-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.main__products-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    text-align: left;
    
    
}
.main__products-list-item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}
.main__products-list-item-description {
    margin-top: 35px;
    font-size: 18px;
    font-family: gilroyextrabold;
    color: #000;
}
.delivery-section {
    background-color: #e5e5e5;
}
.delivery-section > .container {
    display: flex;
}
.delivery-list__item {
    padding: 25px;
}
.delivery-list__item-link {
    padding: 0 25px;
    font-size: 18px;
    font-family: gilroyextrabold;
    color: #000;
    background: url(../img/bg-element.png) center center no-repeat;
    background-size: 196% 40%;
}