 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
header > .container {
    padding: 40px 60px;
    background-color: #f7e296;
}
.header-top {
    position: relative;
}
.header-top__logo {
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
}
.header-top__list {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    font-size: 15px;
    font-family: opensanslight;   
}
.header-top__list-search {
    opacity: .3;
}
.header-top__list-search:hover {
    opacity: .6;
}
.header-top__list-search:active {
    opacity: 1;
}
.header-top__list-enter {
    opacity: .3;
}
.header-top__list-enter:hover {
    opacity: .6;
}
.header-top__list-enter:active {
    opacity: 1;
}
.header-top__list-item:nth-child(1) {
    flex-grow: 6;
    padding-left: 40px;
}
.header-top__list-item:nth-child(2) {
    flex-grow: 4;
}
.header-top__list-item:nth-child(3),
    .header-top__list-item:nth-child(4) {
    flex-grow: 1;
    text-align: right;
}
.header-top__list-link {
    position: relative;
    color: #000;
}
.header-top__list-search::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 5px;
    left: -40px;
    background: url(../img/search.png) center no-repeat;
    background-size: cover;
}
.header-top__list-enter::before {
    content: "";
    display: block;
    width: 13px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    background: url(../img/enter.png) center no-repeat;
    background-size: cover;
}
.header-top__list-compare::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px;
    left: -20px;
    background: url(../img/compare.png) center no-repeat;
    background-size: cover;
}
.header-top__list-basket::before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: -20px;
    background: url(../img/basket.png) center no-repeat;
    background-size: cover;
}
.nav {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    font-family: gilroyextrabold;
    letter-spacing: 4px;
}
.nav a {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
}
.nav__list-item:nth-child(1) {
    flex-grow: 4;
}
.nav__list-item:nth-child(2) {
    flex-grow: 1;
    text-align: left;
}
.nav__list-item:nth-child(3) {
    flex-grow: 1;
}
.nav__list-item:nth-child(4) {
    flex-grow: 1;
    text-align: right;
}
.nav__item-link-catalog {
    position: relative;
}
.nav__item-link-catalog::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 1px;
    right: -30px;
    background: url(../img/plus.png) center no-repeat;
    background-size: cover;
}
/*------------------------------------------slider----------------------------------------------*/
.slider {
    position:relative;
    padding-top:370px;
    text-align:center;
    }
.slider__check {
    position:absolute;
  clip:rect(0 0 0 0);
    overflow:hidden;
  }
  
.slider__div {
        position:absolute;
        top:-110px;
        left:80px;
        }
    
.slider__label {
        position: absolute;
        overflow:hidden;
        display:inline-block;
        width:12px;
        height:12px;
        background:#fff;
        border-radius:50%;
        text-indent:-9999px;
        border: 2px solid #000;
        }
    .slider__check-first,
        .slider__label-first {
            z-index: 1;
            right: 110px;
            top: 265px;
        }
        .slider__check-second,
        .slider__label-second {
            z-index: 1;
            right: 80px;
            top: 265px;
        }
        .slider__check-third,
        .slider__label-third {
            z-index: 1;
            right: 50px;
            top: 265px;
        }


/* Display */
.slider__div {
    display:none;
    }
.slider__check:checked + .slider__label + .slider__div {
    display:block;
    }

/* Current */
.slider__check:checked + .slider__label::after {
    content: "";
    width: 2px;
    height: 2px;
    border: 2px solid #000  ;
    border-radius: 50%;
    position: absolute;
    left: 1px;
    top: 1px;
    }
    .slider-description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 520px;
        position: absolute;
        top: 40px;
        left: 462px;
    }
    .slider-title {
        position: relative;
        width: 570px;
        font-family: gilroyextrabold;
        font-size: 46px;
        line-height: 56px;
        text-align: left;
        letter-spacing: 4px;
        z-index: 22;
    }
    .slider-title::after {
        content: "";
        position: absolute;
        left: 0;
        top: -25px;
        width: 100px;
        height: 9px;
        background-color: #fff;
    }
    .first-slide::before {
        content: "01";
        font-size: 180px;
        font-family: gilroyextrabold;
        color: #fff;
        position: absolute;
        top: -32px;
        right: -24px;
    }
    .second-slide::before {
        content: "02";
        font-size: 180px;
        font-family: gilroyextrabold;
        color: #fff;
        position: absolute;
        top: -32px;
        right: -20px;
    }
    .third-slide::before {
        content: "03";
        font-size: 180px;
        font-family: gilroyextrabold;
        color: #fff;
        position: absolute;
        top: -32px;
        right: -22px;
        z-index: -1;
    }
    .slider-text {
        margin: 40px 0 60px;
        text-align: left;
        font-size: 15px;
        line-height: 30px;
        font-family: opensanslight;
        color: #464646;
    }
    .slider__specifications-list {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 60px 0;
    }
    .third-slider__list {
        justify-content: flex-start;
    }
    .third-slider__list > .slider__specifications-list-item {
        margin-right: 40px;
    }
    .slider__specifications-list-item {
        display: flex;
        flex-direction: column;
        align-items: space-between;
    }
    .slider-meaning {
        font-size: 36px;
        font-family: gilroylight;
    }
    .slider-properties {
        margin-top: 20px;
        font-size: 13px;
        font-family: opensanslight;
        color: #464646;
    }
    .third-slider-image {
        position: absolute;
        left: -84px;
        top: 34px;
    }
/*------------------------------------------slider----------------------------------------------*/
.main {
    margin-bottom: 150px;
}
.main__products-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.main__products-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    text-align: left;
    
    
}
.main__products-list-item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
}
.main__products-list-item-description {
    margin-top: 35px;
    font-size: 18px;
    font-family: gilroyextrabold;
    color: #000;
}
.delivery-section {
    position: relative;
    padding-top: 200px;
    background-color: #e5e5e5;
}
.delivery-section::before {
    content: "";
    width: 7px;
    height: 320px;
    background-color: #000;
    position: absolute;
    top: -100px;
    left: 445px;
}
.delivery-slider__check {
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.main-delivery__block {
    position: absolute;
    display: none;
    top: 20px;
    left: 566px;
}
.main-delivery__block_title {
    font-size: 24px;
    font-family: gilroyextrabold;
}
.main-delivery__block_text {
    margin-top: 42px;
    font-size: 15px;
    line-height: 30px;
    font-family: opensanslight;
    color: #464646;
}
.delivery-image-1 {
    position: absolute;
    top: -37px;
    left: 575px;
}
.delivery-image-2 {
    position: absolute;
    top: -60px;
    left: 575px;
}
.delivery-image-3 {
    position: absolute;
    top: -60px;
    left: 575px;
}
.delivery-slider__check:checked + .delivery-slider__label + .main-delivery__block {
    display: block;
}
.delivery-slider__check:checked + .delivery-slider__label {
    text-align: left;
    padding-right: 150px;
    color: #ecd77e;
    background:#000;
    }
    .delivery-slider__label {
    padding: 5px 20px;
    font-size: 18px;
    font-family: gilroyextrabold;
    text-transform: uppercase;
    background: url(../img/bg-element.png) center no-repeat;
    background-size: 100% 8px;
    cursor: pointer;
}
.label-delivery {
    position: absolute;
    top: 0;
    left: 185px;
}
.label-guarantee {
    position: absolute;
    top: 50px;
    left: 185px;
}
.label-credit {
    position: absolute;
    top: 100px;
    left: 195px;
}
.delivery-slider__check:checked + .label-guarantee  {
    padding-right: 160px;
}
.delivery-slider__check:checked + .label-credit {
    padding-right: 170px;
}

.partners-section {
    margin: 90px 0;
}
.partners-section > .container {
    display: flex;
    justify-content: space-between;
}
.partners-section__block > a {
    filter: grayscale(100%);
    opacity: .2;
}
.partners-section__block > a:hover {
    opacity: 1;
    transition: .3s ease;
    filter: grayscale(0);
}
.info-section > .container {
    display: flex;
    justify-content: space-between;
}
.about-us, .contacts-block {
    display: flex;
    flex-direction: column;
    position: relative;
}
.about-us::before,
     .contacts-block::before {
        content: "";
        height: 7px;
        width: 80px;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
     }
.info-section-title {
    margin: 50px 0 60px 0;
    font-size: 47px;
    font-family: gilroyextrabold;
    color: #000;
    text-align: left;
}
.info-section-text {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 24px;
    font-family: opensanslight;
    color: #464646;
}
.about-us__list {
    margin-top: 20px;
    margin-bottom: 60px;

}
.about-us__list_item {
    padding-bottom: 28px;
    padding-left: 35px;
    position: relative;
    font-size: 16px;
    font-family: gilroyextrabold;
}
.about-us__list_item::before {
    content: "";
    width: 4px;
    height: 4px;
    position: absolute;
    top: 6px;
    left: 0;
    border: 2px solid gray;
    border-radius: 50%;
}
.map {
    margin-bottom: 28px;
}
.button-info {
    width: max-content;
    padding: 0 25px;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-family: gilroyextrabold;
    font-size: 16px;
    background: url(../img/bg-element.png) center center no-repeat;
    background-size: 196% 30%;
    letter-spacing: 3px;
}
.footer {
    background-color: #464646;
}
.footer-top {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}
.footer-top__logo {
    flex-grow: 8;
}
.footer-top__list {
    display: flex;
    align-items: center;
    flex-grow: 2;
}
.footer-top__list_item {
    flex-grow: 1;
    text-align: right;
    position: relative;
}
.footer-top__list_item-link {
    font-family: opensanslight;
    font-size: 15px;
    color: #fff;
}
.list_item-link-enter::before {
    content: "";
    width: 13px;
    height: 12px;
    position: absolute;
    left: 20px;
    top: 5px;
    background: url(../img/footer-enter.png) center no-repeat;
}
.list_item-link-compare::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 20px;
    top: 5px;
    background: url(../img/footer-compare.png) center no-repeat;
}
.list_item-link-basket::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    left: 20px;
    top: 5px;
    background: url(../img/footer-basket.png) center no-repeat;
}
.footer-contacts__block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__nav {
    flex-grow: 2;
}
.footer__menu {
    display: flex;
}
.footer__menu_item {
    padding: 0 10px;
}
.footer-top__logo:hover {
    opacity: .7;
    transition: .2s ease;
}
.footer-top__logo:active {
    opacity: .4;
}
.footer-top__list_item-link {
    opacity: .8;
}
.footer-top__list_item-link:hover {
    opacity: 1;
}
.footer-top__list_item-link:active {
    opacity: .4;
}
.footer-contact {
     flex-grow: 2;
     font-family: opensanslight;
     font-size: 15px;
     color: #fff;
}
a.footer-contact {
    text-align: right;
}
.footer__menu_item-link {
    padding: 0 20px;
    color: #fff;
    font-family: gilroyextrabold;
    font-size: 18px;
    text-transform: uppercase;
}
.footer__menu_item-link:hover {
    opacity: .7;
    transition: .2s ease;
}
.footer__menu_item-link:active {
    opacity: .3;
}
.footer-bottom {
    display: flex;
    margin-top: 70px;
}
.footer-bottom-icons__block {
    position: relative;
    display: flex;
    flex-grow: 6;
    justify-content: flex-end;
    align-items: center;
}
.footer-bottom-icons__block::before {
    content: "";
    width: 80px;
    height: 7px;background-color: #ffc600;
    position: absolute;
    left: 0;
    top: 50%;
}
.footer-html__block {
    display: flex;
    justify-content: flex-end;
    flex-grow: 6;
}
.fb, .insta, .twitter {
    padding: 15px;
    margin-right: 25px;
    color: #464646;
    background-color: #fff;
    border-radius: 50%;
    opacity: .3;
}
.fb:hover, .insta:hover, .twitter:hover {
    opacity: 1;
    transition: .2s ease;
}
.fb:active, .insta:active, .twitter:active {
    opacity: .2;
}
.fb {
   padding: 15px 19px; 
}
.logo-html {
    display: block;
    background: url(../img/logo-html.png) center no-repeat;
    width: 27px;
    height: 35px;
}
.logo-html:hover {
    opacity: .7;
    transition: .2s ease;
}
.logo-html:active {
    opacity: .4;
    transition: .2s ease;
}